@import url("fuentes.css");
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  position: relative;
  width: 100%;
  height: auto;
  background: #e3eefb; }

header {
  background: #eeeeee;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 9px 10px -6px rgba(0, 0, 0, 0.57);
          box-shadow: 0px 9px 10px -6px rgba(0, 0, 0, 0.57);
  border-radius: 0px 0px 10px 10px; }
  header .logotipo {
    font-size: 50px;
    text-align: center;
    padding: 5px 0px 0px 0px;
    margin: 0px; }
    header .logotipo a {
      color: #000;
      font-family: sourcesans-light; }
      header .logotipo a:hover {
        text-decoration: none; }
  header nav ul li a {
    font-size: 21px;
    display: block;
    padding: 10px;
    color: #000;
    text-align: center; }
    header nav ul li a:hover {
      text-decoration: none;
      color: #fff;
      background: #4098d3; }

.texto {
  text-align: center;
  margin-bottom: 50px;
  font-family: SourceSansPro-Regular; }

.curso {
  background: #faf5f5;
  background-position: 50%;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 30px; }
  .curso hr {
    background: #0000002c;
    margin: 0px;
    z-index: 10; }
  .curso .contenido {
    padding: 20px 0px; }
    .curso .contenido:hover {
      background: #89BEFF;
      opacity: 0.8;
      cursor: pointer; }
    .curso .contenido img {
      margin-left: 3%; }

.modal-container, .modal-container-dos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

button {
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px; }
  button:hover {
    opacity: 0.8;
    cursor: pointer; }

.show {
  pointer-events: auto;
  opacity: 1; }

.modal_uno, .modal_dos {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 10; }

.modal h1 {
  margin: 0; }

.modal p {
  opacity: 0.7;
  font-size: 14px; }

footer {
  background: #4098d3;
  padding: 20px;
  color: #fff;
  line-height: 20px;
  text-align: justify;
  margin-bottom: 20px;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0px 9px 10px -6px rgba(0, 0, 0, 0.57);
          box-shadow: 0px 9px 10px -6px rgba(0, 0, 0, 0.57); }
  footer h5 {
    color: #9e9e9e;
    font-size: 26px; }
  footer p {
    font: 18px sourcesans-regular; }
  footer .redes {
    text-align: center; }
    footer .redes .fb {
      color: #3b5998; }
      footer .redes .fb:hover {
        opacity: 0.7; }
    footer .redes .tt {
      color: #00acee; }
      footer .redes .tt:hover {
        opacity: 0.7; }
    footer .redes .yt {
      color: #c4302b; }
      footer .redes .yt:hover {
        opacity: 0.7; }
    footer .redes .wa {
      color: #25d366; }
      footer .redes .wa:hover {
        opacity: 0.7; }
    footer .redes a i {
      font-size: 500%; }

.copyright {
  font-size: 12px;
  color: #9B9B9B; }
  .copyright p {
    margin-bottom: 5px; }

@media only screen and (max-width: 992px) {
  .redes {
    margin-top: 10%; } }

@media only screen and (max-width: 768px) {
  .redes {
    margin-top: 0px; }
    .redes .fb, .redes .tt, .redes .yt, .redes .wa {
      margin-right: 11%; }
    .redes .fb {
      margin-left: 25px; } }

@media only screen and (max-width: 540px) {
  footer .redes a i {
    font-size: 300%; } }
/*# sourceMappingURL=cursos.css.map */